*{
	margin: 0;
	border: 0;
	padding: 0;
}
body{
	background: #f0f0f0;
	font: 14px/20px Arial, San-Serif;
	color: #555;
	margin: 0;
}

#container{
	max-width: 1300px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 180%;
	line-height: 120%;
	padding: 5% 0;
}
h2 {
	text-decoration: underline;
	line-height: 280%;
	padding-left: 2%;
}
h3 {
	line-height: 110%;
	padding: 5% 0;
}
p {
	padding: 1%;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}

.docslinks {
	color: #555 ;
	text-decoration:none;
	font-weight:100; 
	float: left;
	list-style-position:outside;
}

.b {
	text-align:left;
	text-decoration:none;
	list-style-type: circle;
	list-style-position:outside;
/*	display: inline-block; */
}

a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a: hover {
	color: #FFF;
	text-decoration: underline;
}

a: visited {
	color: #555;
}

h1 a{
	color: #555;
}

header {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 66px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.90; 
}
#logo {
	margin: 20px;
	float: left;
	width: 100px;
	height: 30px;
	background-image: url('images/latruslogowhite.png'); 
	background-repeat: no-repeat;
	background-position: center; 
}
nav {
	float: right;
	padding: 14px 20px 20px 0;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url('images/icon.png') center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
} 
/* ul {
	list-style: none;
} */
ul slides {
	margin: 0px auto;
	background-size: cover;
	width: 100%;
}
nav ul li {
	display: inline-block;
	float: left;
	padding: 5px;
}
.current {
	color: #FFF;
	text-decoration: underline;
}
#doc {
	margin: 0;
}  
#content {
	margin: 0 auto;
	margin-top: -20px;
} 

.blueberry {
	margin-top: 0px;
	background-size: cover;
} 
section {
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
.clear {
	clear: both;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding: 4%;
}
aside {
	float: right;
	margin: 0 auto;
	width: 35%;
	height: auto;
	padding: 3%;
}

ul.gym li {
	padding-left: 3%;
}

ul.big {
	font-size:36px;
}

section.ul.li iotparts {
	list-style-position: inside;	
}

#terminos{
	position: relative;
	float: none;
	margin: auto;
	line-height: 1.25;
	word-spacing: 3px;
	font-size: 20px;
	text-align: justify; 
	width: 50%;
}

#terminos p{
	text-indent: 0px;
}

footer {
	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
}
footer p, footer h3 {
	color: #FFF;
}
footer p a {
	color: #FFF;
	text-decoration: none;
}
ul.social li {
	display: inline;
}
/* ul.social li img {
	height: 50px;
} */
footer.second {
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}
@media screen and (max-width: 478px) {
	body {
		position: absolute;
	}
}
@media screen and (max-width: 740px) {
	header {
		position: absolute; 
	}
	#menu-icon {
		display: inline-block;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background-color: rgba(0,0,0,0.5);
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 30%;
		border-radius: 2px 0 2px 2px;
	}
	nav li {
		text-align: left;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	nav:hover ul {
		display: block;
	}
	section {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	article {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	aside {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

/* for contact page */

 @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700); 

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
background-size: cover; 
  height:100%;
} 

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	/* float:left; */
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 50%;
	margin: 0 auto;
	/*
	float: left;  
	left: 50%;
	position: relative; 
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  */
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/* Dropdown Button */
.dropbtn {
    color: #FFF;
    padding: 0px;
    font-size: 14px; 
	line-height: 20px;
    border: none;
    cursor: pointer;
	font-style: normal;
	font-family: Arial, San-Serif;
	background-color: transparent;
	font-weight: bold;
}

.dropbtn .current {
	text-decoration: underline;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus, {
    background-color: #3e8e41;
}

.dropbtn .dropbtn {
	color: #FFF;
    padding: 12px 16px;
	left: 100%;
    display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #FFF;
    padding: 4px 6px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
	}
	
.dropdown:hover .dropdown-content {
	display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
	